<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Hello</h1>
    <!-- conditional rendering -->
    {{#if isAuthenticated}}
        <h2>Welcome {{name}}</h2>
        <p>I'm doing the {{bootcamp}} bootcamp</p>
        {{#if address}}
            <p>I live on {{address}}</p>
        {{/if}}
    {{else}}
        <p>You are not authorized</p>
    {{/if}}
    <ul>
        {{#each cities}}

         {{!-- if current city is amsterdam than show amsterdão  --}}
            <li>{{this}}</li>
        {{!-- this represents each item of the array --}}
        {{/each}}
    </ul>

</body>
</html>